$black: #000;
$white: #fff;
$gray: #666;
$gray-200: #999;
$gray-100:#f9f9f9;
$gray-50: #f3f3f3;
$light-gray: #d7d7d7;
$blue: #4d9ee9;
$blue-gray: #809fb9;
$gray-white:#bec2c5;
$blue-button-start: #346a9a;
$blue-button-end: #54a4ee;
$blue-footer-bg-start: #3d87cc;
$blue-footer-bg-end: #54a4ee;
$footer-copyrights-bg: #436280;
